#titulo {
    /* background-color: peru; coloca un colo en el fondo del titulo*/
    /* padding: 7px; coloca margenes internos*/
    /* text-align: center; */
    /* margin: 0 auto; dezplaza la caja entera (-left -top -bottom -right)*/
    /* width: 500px; ancho de la caja*/
    /* border-radius: 15px; redondea los bordes*/
    /* color:rgb(82, 39, 39); color de texto*/
    /* font-weight: bold; negrita*/
    /* background: -webkit-linear-gradient(top, rgb(194, 169, 57), rgb(199, 198, 192)); va cambiando el color en degrade*/
}

Body{
    /* background-color: rgb(136, 116, 90); color del fondo*/
}
/*
figure{ 
    margin-top: 10px;
    border-color: black;
    border-width: 5px;
    border-style: dotted;
    text-align: center;*/
/*-moz-transform: scale(0.5);*/
}
#frase1 {
    background-color: rgb(195, 173, 127); /* Color de fondo cyan */
    border-radius: 15px; /* Bordes redondeados */
    text-align: justify; /* Texto centrado */
    padding: 20px; /* Espacio interior alrededor del texto */
    margin: 20px; /* Espacio exterior alrededor de la caja */
    color: black; /* Color del texto */
    font-size: 18px; /* Tamaño del texto */
}